.Activity-container {
  float: right;
  width: 38%;
  height: auto;
  overflow: hidden;
  margin-top: 50px;
  background: #fff;
  box-sizing: border-box;
}
.Activity-container .Activity-title {
  width: 100%;
  height: 80px;
  background: #666;
  color: #fc3;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 30px;
}
.Activity-container .Activity-ul {
  width: 100%;
  height: auto;
  background: #fff;
  color: #333;
  padding: 0 15px;
}
.Activity-container .Activity-ul .Activity-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 2px 0;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
